{% extends 'main.html' %}
{% block content %}

    <form>
        <fieldset>
            <legend style="font-size: 50px; right: 10%; color: #04AA6D; font-family: 'B Badr' ">درباره ما</legend>
            <ul style="list-style: none;">
                <li><p style="font-size: 25px"> آدرس مجموعه : انتهای نواب، شهرک شریعتی، میدان ماهان، خیابان مطهری شمالی، پلاک۳، بستنی بچه محل</p></li>
                <br><br><br><br>
                <li><p style="font-size: 25px">سرویس دهی آنلاین : ۱۱:۱۵ تا ۲۳:۰۰ </p></li>
                <br><br><br><br>
                <li><p style="font-size: 25px">شماره تماس مجموعه : 55885254-021</p></li>
            </ul>
        </fieldset>
    </form>

{% endblock content %}